
# Prevent npm from looking outside the project directory
strict-peer-dependencies=false
engine-strict=false
resolve-url=false
scripts-prepend-node-path=true
package-lock=false
save-exact=true
fund=false
audit=false
