
# Prevent npm from accessing external paths
registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
cache-min=9999999
prefer-offline=true
offline=true
save-exact=true
fund=false
audit=false
legacy-peer-deps=true
